/*customise table layout*/
.table-bordered th, .table-bordered td {
    border-left: none;
    border-right: none;
}
/*remove top border on header row*/
.table thead th {
    border-top: none;
  }

/*alternating background color*/
.table > tbody > tr:nth-of-type(2n+1) {
background-color: #f3f2f2
;
}

.sidebar {
background-color: #d9d9d9;
}

.sidebar-dark .nav-item .nav-link {
color: #17365d;
}

.sidebar-dark .nav-item.active .nav-link {
color: #ff0;
border: 1px solid black;
background-color: #019644;
border-radius: 5px;
}
.bg-gradient-primary {
  background-color: #019644;
  
}
.btn-success {
  color: #fff;
  background-color: #019644;
  border-color: #019644;
}
/* .sidebar-dark .nav-item.active .nav-link {
  color: #ff0;
  border: 1px solid black;
  background-color: #019644;
  border-radius: 5px;
} */
.btn-primary {
  
  background-color: #019644;
  border-color: #019644;
}
.border-left-primary {
  border-left: 0.25rem solid #019644 !important;
}
.text-primary {
  color: #019644!important;
}
.btn-success {
  color: #fff;
  background-color: #019644;
  border-color: #019644;
}
.bg-white {
  background-color: #00b050 !important;
}

.btn-secondary {
  color: #fff;
  background-color: #f30909;
  
  border-color: #019644;
}
.text-gray-600 {
  color: white !important;
}

.bg-gradient-success{
  background-image: url('/static/img/sweet.jpg');
}

.col{
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}