{% extends 'layouts/base.html' %}

{% load static %}
{% load i18n %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div>
                <form method="post">
                    {% csrf_token %}
                    <h2 class="text-center">Password Reset Sent</h2>
                    <p class="text-center">Instructions for resetting your password have been sent to your email address</p>
                </form>
            </div>
            
        </div>

    </div>
</div>
{% endblock %}



