{% load static %}

<title>MSBDS</title>

<!-- Custom fonts for this template-->
<!-- Add these lines in the <head> section of your HTML template -->
<script src="{% static 'js/intlTelInput.min.js' %}"></script>
<script>
    var userLoggedIn = true;  // Set to true if the user is logged in, false otherwise
</script>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/notifications.js' %}"></script>
<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css">

<!-- Custom styles for this template-->
<link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">
<link href="{% static 'css/customise.css' %}" rel="stylesheet">

<!-- Include the Google Maps API script with your API key -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnjfvWlCs7f_YC76xGfcxaGA7ceQQAaYg"></script>

<!-- JavaScript code for autocomplete functionality -->
<script>
    // Wait for the DOM to be ready
    document.addEventListener('DOMContentLoaded', function () {
        var input = document.getElementById('address'); // Note: Use 'id_' prefix for the field name
        var autocomplete = new google.maps.places.Autocomplete(input);
    });
</script>


